body {
    font-family: Arial;
    margin: 20px;

}

h1,h2 {
    text-align: center;
}

.menu {
    text-align: center;
    margin-bottom: 40px;
}

.btn {
    padding: 10px 20px;
    text-decoration: none;
    background: #007BFF;
    color: rgb(240, 238, 238);
    border-radius: 5px;
    margin: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

th, td {
    border: 1px solid #aeabda;
    padding: 10px;
    
}